[submodule "market-overview"]
	path = market-overview
	url = git@github.com:chanakadrathnayaka/market-overview.git
[submodule "market-overview-web"]
	path = market-overview-web
	url = git@github.com:chanakadrathnayaka/market-overview-web.git
